* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #ffffff;
  color: #333;
}

/* NAVBAR */
.top-nav {
  background: #b8bdfa;
  padding: 18px 40px;
  display: flex;
  justify-content: flex-end;
}

.logout-btn {
  background: #5d66e4;
  color: #fff;
  padding: 10px 26px;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
}

/* HERO */
.contact-hero {
  background: #5d66e4;
  color: white;
  padding: 80px 20px;
}

.contact-hero h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.contact-hero p {
  font-size: 15px;
  opacity: 0.95;
}

/* CONTAINER */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 70px 20px;
}

.admin-list-section h2 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 60px;
}

/* GRID */
.admin-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

/* CARD */
.admin-card {
  background: #ffffff;
  padding: 45px 30px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* ICON */
.icon-circle {
  width: 90px;
  height: 90px;
  margin: 0 auto 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  color: white;
}

/* WARNA ICON */
.tech-bg {
  background: #f2b04c;
}

.data-bg {
  background: #b15cd9;
}

.info-bg {
  background: #57e25f;
}

/* CARD TEXT */
.admin-card h3 {
  font-size: 18px;
  margin-bottom: 6px;
}

.role {
  font-size: 13px;
  color: #777;
  margin-bottom: 18px;
}

.contact-detail p {
  font-size: 13px;
  margin-bottom: 6px;
}

.contact-detail a {
  color: #3b82f6;
  text-decoration: none;
}

/* BUTTON */
.chat-button {
  display: inline-block;
  margin-top: 22px;
  padding: 12px 26px;
  color: white;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

/* DISCLAIMER */
.disclaimer {
  margin-top: 40px;
  text-align: center;
  font-size: 13px;
  color: red;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 25px;
  font-size: 13px;
  color: #777;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .admin-grid {
    grid-template-columns: 1fr;
  }
}
