body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #5f6cf0, #eef1ff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.register-left button {
    width: 100%;
    height: 58px;
    border-radius: 999px;
    background: #5f6cf0;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.register-container {
    width: 100%;
    max-width: 450px;
    padding: 40px 20px;
    text-align: center;
}
h2 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 40px;
}
.form-group {
    margin-bottom: 20px;
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.register-btn {
    width: 100%;
    padding: 15px;
    background-color: #61be4a;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.login-link {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}
.login-link a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}